

button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}


table{
position: center;
}
.select-style {
padding: 5px 8px;
width: 130%;
border-right: none;
border-left: none;
border-top: none;
}

.suup {
    border: 1px solid black;
    background-color: transparent;
}